* {
	margin: 0;
	padding: 0;
}
body {
	// background-color: antiquewhite;
	background-image: url(/img/beach02.png);
	background-position: center;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
}
// 要素
a {
	color: unset;
	cursor: pointer;
}
button {
	cursor: pointer;
	&:hover {
		filter: hue-rotate(130deg);
	}
	&:active {
		filter: invert(1);
	}
}

// クラス
.wapper {
	padding: 1rem;
}
.center {
	text-align: center;
}
.d-block {
	display: block;
}
.d-flex {
	display: flex;
}
// ヘルパー
.ms-auto {
	margin-left: auto;
}
.pa-1 {
	padding: 1rem;
}
